html{
  background-color: #2c3e50;
  font-family: Arial;
}

table, th, td{
  color: #ecf0f1;
  background-color: #c0392b;
  margin-top: 10px;
}

table{
  border: solid 2px white;
}
.kopf{
border: solid #2E2E2E;
/* border-radius: 5px; */
padding: 5px;
}
.kopf h1{
  float: right;
  padding-right: 50px;
  font: 30px Arial;
}

.kopf img{
  padding-left: 10px;
  height: 70px;
}
h1{
  text-align: center;
  color: white;
}
h2{
  text-align: center;
  color: white;
}
h3{
  text-align: center;
  color: white;
}
.form-head {
  color: #FFFF;
  font-weight: normal;
  font-weight: 400;
  margin: 0;
  text-align: center;
  font-size: 1.8em;
  }
  .demo-table {
  background: #120A2A;
  border-spacing: initial;
  margin: 15px auto;
  word-break: break-word;
  table-layout: auto;
  line-height: 1.8em;
  color: #333;
  border-radius: 4px;
  padding: 30px;
  width: 380px;
  border: 5px solid #FFF;
  border-color: #FFF;
  color: #FFFF;
  margin-top: 50px;
  }